# Node.js dependencies
node_modules/

# Environment files
env/

# IDE / editor specific files
*.log
*.tmp
*.swp
*.swo
*.DS_Store

# Aider cache and history
.aider*
.aider.tags.cache.v4/
.aider.chat.history.md
.aider.chat.history


# Miscellaneous
*.env
*.env.*

/src/Secrets.md

/src/__pycache__/
Ismael_Hernandez_CV.pdf
Ismael_Hernandez_CV1.pdf
cv.pdf